.header__lang-link {
    color: #FFFFFF;
    padding-left: 18px;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 5px;
    }
}