.places {
    padding: 127px 148px 57px 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        padding: 92px 48px 92px 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding: 88px 24px 90px 24px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding: 64px 0 66px 0;
    }
}