.cover__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}