.place__paragraph {
    max-width: 484px;
    margin: 0;
    padding-bottom: 26px;
    font-size: 18px;
    line-height: 29px;
    grid-area: paragraph;
}

.place__paragraph:last-of-type {
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}