.place {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: min-content 1fr;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas:
        "title website"
        "image paragraphs";
    padding-bottom: 80px;
}

.place:last-of-type {
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: repeat(2, 1fr);
    }
}