.footer {
    padding: 92px 48px 24px 48px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1280px;
    }
}