.intro__title {
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}